html, body {
  height: 100%;
  overflow: hidden;
}

html {
  background: #F8DC3D;
}

body {
  font-size: 2em;
  color: #978105;
  font-family:"Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: .9em;
  font-weight: normal;
  font-style: italic;
}
hr {
  border: 1px solid #ff9c08;
}

.column-center {
  text-align: center;
}
.pizzas {
  font-weight: bold;
  color: #ff9c08;
  font-size: 1.5em;
}

input {
  border: 2px solid #ff9c08;
  font-size: 1.5em;
  padding: .15em .5em;
  color: #ff9c08;
  border-radius: .25em;
  background: transparent;
  transition: all .100s;
  max-width: 160px;
  text-align: center;
  letter-spacing: -.05em;
}
input[disabled],
input[disabled="disabled"] {
  border-color: transparent;
  background: #978105;
  color: #fff;
}
input:focus {
  outline: none;
}
input.keyup {
  color: white;
  border-color: white;
  text-shadow: 0 0 .125em white;
  box-shadow: 0 0 .25em white,inset 0 0 .25em white;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: 'Arial Rounded MT Bold','Helvetica Rounded', Arial, sans-serif;
}

::-webkit-input-placeholder {
  color: #978105;
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  color: #978105;
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  color: #978105;
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}
